{{#each cheeses as |cheese|}}
  <div class="col-md-3">
    <div class="col-md-12 inner text-center">
      <p class="lead text-center">{{cheese.name}} </p>
      <button type="button" class="add-cheese-button btn btn-default" data-cheese-id="{{cheese.id}}">Add</button>
      <p class="text-center">{{cheese.description}}</p>
    </div>
  </div>
  <!--<button type="button" class="update-button" data-cheese-id="{{cheese.id}}">Update Cheese</button>
  <input type="text" class="new-cheese-name" data-cheese-name="{{cheese.name}}" placeholder="New cheese name">-->
{{/each}}
