{{#each cheeseplates as |cheeseplate|}}
{{> partial cheeseplate=cheeseplate}}
<div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="border">
        <p class="lead">{{cheeseplate.name}}</p>
        <div>
          <button type="button" class="add-cheese-button btn btn-default" data-toggle="modal" data-target=".cheesesOnPlateModal{{cheeseplate.id}}" data-cheeseplate-id="{{cheeseplate.id}}">Add Cheese</button>
        </div>
      </div>
      {{#each cheeses as |cheese|}}
      <div>
        <p class="lead">{{cheese.id}}. {{cheese.name}}</p>
      </div>
      {{/each}}
      <!--<div class="change-name-of-cheeseplate text-center">
        <p class="name-change"> Change the name of this cheeseplate:</p>
          <form class="update-cheeseplate-form text-center" data-cheeseplate-id="{{cheeseplate.id}}">
            <input type="text" class="cheeseplate-id" name="cheeseplate[id]" placeholder="Cheeseplate ID"><br>
            <input type="text" class="cheeseplate-name" name="cheeseplate[name]" placeholder="New cheeseplate name">
            <button type="submit" class="change-cheeseplate-button btn btn-default">Submit</button>
          </form>
      </div>-->
      <br>
      <button type="button" class="delete-cheeseplate-button btn btn-default" data-cheeseplate-id="{{cheeseplate.id}}">Delete Cheeseplate</button>

    </li>
  </ul>
</div>


{{/each}}
